$--color-white: #FFFFFF !default;
$--color-black: #000000 !default;
$--color-primary: #3A71A8 !default;
$--color-success: #30B08F !default;
$--color-warning: #FEC171 !default;
$--color-danger: #C03639 !default;

$--color-shadow: #666666 !default;
$--color-text: #606266 !default;

//chris-input
$--color-input-text: $--color-text !default;
$--color-input-border: #dcdfe6 !default;
